.crimson {
	background-color: #DC143C !important;
}

.darkPowderBlue {
	background-color: #003893 !important;
}

.navbar-brand img {
	height: 80px;
	width: 80px;
}

/*
.view1 {
  background-color: #30d5c7;
}

.view2 {
  background-color: #2abaae;
}

.view3 {
  background-color: #1c7b73;
}

.view4 {
  background-color: #13544f;
}

.view5 {
  background-color: #28d5cf;
}

.subview-a {
  background-color: #2abaae;
}

.subview-b {
  background-color: #0eab91;
}

.subview-c {
  background-color: #13ad58;
}

.subview-d {
  background-color: #45bca1;
}

.subview-e {
  background-color: #23dc94;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -75px;
  margin-left: -100px;
  width: 200px;
  height: 150px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.54);
}

.info {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Tahoma;
  font-size: 32px;
}*/